<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planetoid_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planetoid_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Planetoid_DB.Properties.Settings>
            <setting name="systemMpcorbDatGzUrl" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB/MPCORB.DAT.gz</value>
            </setting>
            <setting name="systemMpcorbDatUrl" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB/MPCORB.DAT</value>
            </setting>
            <setting name="systemAstorbDatUrl" serializeAs="String">
                <value>https://ftp.lowell.edu/pub/elgb/astorb.dat</value>
            </setting>
            <setting name="systemAstorbDatGzUrl" serializeAs="String">
                <value>https://ftp.lowell.edu/pub/elgb/astorb.dat.gz</value>
            </setting>
            <setting name="systemFilenameMpcorb" serializeAs="String">
                <value>mpcorb.dat</value>
            </setting>
            <setting name="systemFilenameMpcorbTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemFilenameAstorb" serializeAs="String">
                <value>astorb.dat</value>
            </setting>
            <setting name="systemFilenameAstorbTemp" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="systemHomepage" serializeAs="String">
                <value>https://planetoid-db.de</value>
            </setting>
            <setting name="systemHomepageMailExtern" serializeAs="String">
                <value>info@planetoid-db.de</value>
            </setting>
            <setting name="systemHomepageMailIntern" serializeAs="String">
                <value>mailto:info@planetoid-db.de</value>
            </setting>
            <setting name="systemWebsiteMpc" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/mpc.html</value>
            </setting>
            <setting name="systemWebsiteMpcorb" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB.html</value>
            </setting>
        </Planetoid_DB.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Planetoid_DB.Properties.Settings>
            <setting name="userMpcorbDatGzUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userMpcorbDatUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userAstorbDatUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userAstorbDatGzUrl" serializeAs="String">
                <value />
            </setting>
        </Planetoid_DB.Properties.Settings>
    </userSettings>
</configuration>