<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planetoid_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planetoid_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Planetoid_DB.Properties.Settings>
            <setting name="systemMpcorbDatGzUrl" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB/MPCORB.DAT.gz</value>
            </setting>
            <setting name="systemMpcorbDatUrl" serializeAs="String">
                <value>http://www.minorplanetcenter.org/iau/MPCORB/MPCORB.DAT</value>
            </setting>
        </Planetoid_DB.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Planetoid_DB.Properties.Settings>
            <setting name="userMpcorbDatGzUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="userMpcorbDatUrl" serializeAs="String">
                <value />
            </setting>
        </Planetoid_DB.Properties.Settings>
    </userSettings>
</configuration>